<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="true"
        verbose="true">
    <testsuites>
        <testsuite name="Crawler Test">
            <directory>./tests/Crawler</directory>
            <exclude>tests/Crawler/Components/MultiProcess/MainProcessTest.php</exclude>
        </testsuite>
        <testsuite name="Process">
            <directory>tests/Crawler/Components/MultiProcess/MainProcessTest.php</directory>
        </testsuite>
    </testsuites>
</phpunit>